.navigation-bar{
    background-image: linear-gradient(to bottom , #b4b2b2 0%, #dad6d6 25%,  transparent 100%);
}
.nav-link{
   font-size: 1.3em;
   color: black;
   font-weight: bold;
}

.nav_container, .nav-item{
    margin-right: 2rem;
}



.main-section{
    height: 110vh;
    background-image:    url(./media/city_bg.png);
    background-size: cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}


#logo{
    font-size: 3em;
    margin-left: 2%;
}

.main-section > p{
    font-size: 1.6em;
    width: 30%;
    margin-left: 2%;
    color: #c0701b;
}    

.about{
    background-color: #F2EAD3;
    /* height: 50vh; */  
}



.about > .container{
    padding: 0;
}

.cards{
    /* display: flex;
    justify-content: space-between; */
    position: relative;
    bottom: 5rem;
    
}

.card{
    padding: 2em 0 ;
}



.clock-icon{
    /* position: relative; */
    bottom: 60px;
    background-color: white;
    border-radius: 100px;
    border: 10px solid white;
}

.card-body{
    padding: 0;
}

.card-body > h5{
    font-size: x-large;
}
.card-body > p{
    font-size: 0.9em;
    margin-left: 10%;
    margin-right: 10%;
}

.committed-container{
    background-color: white;
    /* margin: 0 1.5%; */
    border-radius: 10px;
    position: relative;
    bottom: 5rem;
    margin: 0;
}
.cc1{
    text-align: left;
    margin-top: 4%;
    
}

.cc-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-item >h5{
    font-size: 3rem;
}

.carousel-item > p{
    font-size: 1.5rem;
}

.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
}


.service-left{
   
    height: 100%;
}

.service-left > h1{
    color: rgb(124, 115, 63);
   
}

.service-list {
    font-size: 1.5rem;
}

.img-service{
    display: flex;
    justify-content: center;
    width: 58%;
  
}

.img-service1{
    width: 100%;
    border-radius: 35px;
}

.design-list1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.feedbacks-pricing{
    background-color:  #DFD7BF;
}

.carousel-control-prev, .carousel-control-next{
    width: 7%;
}

.carousel-item > p{
   margin: 0 10%;
   font-size: 16px;
}
.carousel-item > h5{
    margin: 0 10%;
    font-size: 20px;
 }


.pricing{
    margin-top: 3%;
    margin-bottom: 2%;
}

.card-price{
    padding: 2% 0;
    width: 18em;
}

.list-group-item{
    border: none;
}

.contacts{
    background-color: #3F2305;
    color: white;
    padding: 1% 0%;
}

.contacts > p{
    margin: 0% 20%;
}



.col-4 > h4 {
    margin: 10px 0px;
}




@media screen and (max-width: 768px){
    
    .main-section > p {
        font-size: 1.5rem;
        width: 70%;
    }
    .design-list1 h1 p {
        margin-left: 10%;
    }
}

@media screen and (max-width: 425px){
#contacts  h1, #contacts h4 {
    font-size: 12px;
}

#contacts p {
    font-size: 8px;
}
.committed-container p{
    font-size: 8px;
}

.committed-container h2{
    font-size: 10px;
}
}

